{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <th>КОМАНДА</th>
        <th>ЗАДАЧА</th>
        <th>ВЕРНЫЙ ОТВЕТ</th>
        <th>ОТВЕТ КОМАНДЫ</th>
        <th>ПРОВЕРКА</th>
    </tr>
    <tr>
        {% for cl in answers %}
        <td>
        {{ cl }}
        </td>
        {% endfor %}
        <td>
        <form action="/check" method="POST">
            <input type="checkbox" id="accept" name="accept">
            <label class="form-check-label" for="accept">correct</label>
            <input type="submit">
        </form>
        </td>
    </tr>
</table>
{% endblock %}