<!DOCTYPE html>
<html>
<head>
    <title>Ваши задачи</title>
    <link rel="stylesheet" type="text/css" href="{{css}}"/>
</head>
<body>
<div align="center">
<h3>Задачи</h3>
<table>
{% for id, text, status in problems %}
    <tr>
        <td>
            <p>{{text}}</p>
            <form method="POST">
                <input type="text" placeholder="Ваш ответ" name="answer">
                {% if status == 0 or status == 1 %}
                <button disabled type="submit" name={{id}}>Сдать
                    задачу</button>
                {% else %}
                <button type="submit" name={{id}}>Сдать
                    задачу</button>
                {% endif %}
            </form>
        </td>
        <td align="bottom">
            {% if status == 0 %}
            <p>ок</p>
            {% elif status == 1 %}
            <p>неверно</p>
            {% elif status == 2 %}
            <p>на проверке</p>
            {% else %}
            <p></p>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
<a href="/results" class="link">А вот и результаты!</a>
</div>
</body>
</html>
