<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Абака!</title>
    <link rel="stylesheet" type="text/css" href="{{css}}"/>
</head>
<body>
    <table width="80%" align="center">
        <tr>
            <td align="right" class="cell">
                <a href="/register">
                    Регистрация</a>
            </td>
        </tr>
        <tr>
            <td align="center" class="cell">
                <h1>Абака</h1>
            </td>

        </tr>
        <tr>
            <td align="right" colspan="2" class="cell">

            </td>
        </tr>
        <tr>
            <td align="left" colspan="2" class="cell">
                <h2 align="center" class="name">Математическая абака</h2>
                <p align="center"> — это командная игра-соревнование по
                    решению задач.
Все задачи выдаются для решения всем командам одновременно. Основным зачётным показателем в математической абаке является общее количество набранных очков (включая бонусы). В случае равенства очков у нескольких команд более высокое место занимает команда, имеющая большую сумму бонусов. При равенстве
и этого показателя команды считаются разделившими места.</p>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2" class="cell">
                <p align="center">Каждой команде предлагается для решения 4
                    тем по 4 задач
                    в каждой теме. На каждую задачу дается одна попытка сдать ответ. Если команда предъявляет правильный ответ на задачу, она получает за это цену задачи, а если ответ неправильный или неполный, команда получает 0 очков.
Цена первой задачи каждой темы — 10 очков, второй — 20, ..., четвертой — 40 очков. Таким образом, не считая бонусов, команда может заработать за решение задач до 4·100 = 400 очков.</p>
            </td>
        </tr>
        <tr>
            <td class="cell" align="center">
                <p>Каждая команда дополнительно может заработать бонусы:</p>
                 <ul>
                     <li>Бонус-горизонталь (за правильное решение всех задач
                         одной темы) — 40 очков.</li>
                     <li>Бонус-вертикаль (за правильное решение задач с одним и тем же номером
по всем темам) — цена задачи с этим номером.</li>
                 </ul>
            </td>

        </tr>
        <tr>
            <td align="center" colspan="2" class="cell">
                <a class="link"
                   href="/login">Присоединяйся к игре!</a>
            </td>
        </tr>
    </table>
</body>
</html>